#box-1{
    border: 2px solid;
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    font-size: 225px;
    text-align: center;
    color: wheat;

    /* animation: myslide;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 5s; */

    /* short-cut */
    animation: 20s infinite running 0s linear mycolorchange;
}


@keyframes myslide{
    from{margin-left:0%;}
    to{margin-left: 100%;}
}

@keyframes myrotate{
    /* 100%{transform: rotateX(360deg);} */
    /* 100%{transform: rotateY(360deg);} */
    100%{transform: rotateZ(360deg);}
}

@keyframes myopacity{
    100%{opacity: 0;}
}

@keyframes myscale{
    50%{transform: scale(0.5, 0.5);}
}

@keyframes mycolorchange{
    20%{background-color: yellow;}
    40%{background-color: orange;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: indigo;}
}