.flexbox-container{
    display: flex;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
}

.flexbox-item-1{
    min-height: 100px;
}

.flexbox-item-2{
    min-height: 200px;
}

.flexbox-item-3{
    min-height: 300px;
}